.content-area {
  width: 90%;
  margin: auto;
  background: white;
  border: 1px solid #C6C6C6;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 4px #969292;
}

body {
  background: whitesmoke;
}

header {
  border-top: 0px;
  margin-bottom: 20px;
}

header .title {
  margin: 0;
  padding: 0;
}

.main-container {
}

.divider {
  border-right: 2px whitesmoke solid;
}

.breadcrumbs li {
  display: inline;
}

.user-picture {
  width: 50px;
  border-radius: 50px;
}

.image-item {
  width: 400px;
}

.credit {
  margin: 0;
}