{% extends 'layout.html' %}
{% block content %}
<ul class="list-unstyled breadcrumbs">
  <li><a href="{{url_for('root')}}">Home</a></li>
  <li>/</li>
  <li><a href="{{url_for('get_category', category_name=item.category.name)}}">{{item.category.name}}</a></li>
  <li>/</li>
  <li>{{item.name}}</li>
</ul>
<h2>{{item.name}} <small>{% include 'components/edit_item_button.html' %}</small></h2>
{% if item.image_url %}
  <img class="image-item" src="{{item.image_url}}" />
{% endif %}
<p>
  {{item.description}}
</p>
{% endblock %}
