{% extends 'layout.html' %}
{% block content %}
<div class="row">
  <div class="col-md-4 divider">
    <h2>Categories</h2>
    <a href="{{url_for('new_category_form')}}">New Category</a>
    <ul>
      {% for category in categories %}
        <li><strong><a href="{{url_for('get_category', category_name = category.name)}}">{{category.name}}</strong></a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-5">
    <h2>Items</h2>
    <a href="{{url_for('new_item_form')}}">New Item</a>
    <ul>
      {% for item in items %}
        <li><strong><a href="{{url_for('get_item', category_name=item.category.name, item_name=item.name)}}">{{item.name}}</a></strong> - ({{item.category.name}})</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}